[include]
  path = ~/.gitconfig.local
  path = ~/dotfiles/config/catppuccin-delta/catppuccin.gitconfig

# --- Signing & Security ---
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true

# --- Large File Support ---
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

# --- Branching & Pull Behavior ---
[init]
  defaultBranch = main
[branch]
  sort = -committerdate
[pull]
  rebase = true
  ff = only
[push]
  autoSetupRemote = true

# --- Diffs & Merges ---
[diff]
  algorithm = histogram
  colorMoved = default
[merge]
  conflictstyle = zdiff3
  tool = nvimdiff
[difftool]
  prompt = false

# --- Core ---
[core]
  editor = nvim
  fsmonitor = true
  ; hooksPath = /Users/cle126/.git_hooks

# --- Pager & Delta ---
[pager]
  diff = delta
  log = delta
  show = delta
[delta]
  features = catppuccin-macchiato
  syntax-theme="Catppuccin Macchiato"
  side-by-side = true
  dark = true
  line-numbers = true
  navigate = true
  hyperlinks = true
  file-decoration-style = bold yellow ul
[interactive]
  diffFilter = delta --color-only
[blame]
  color-by-age = true

# --- Aliases ---
[alias]
  # Detailed, colorful Git log with a graph, relative dates, and decorations.
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'

  # Short for 'checkout'.
  co = checkout

  # Short for 'branch'.
  br = branch

  # Short for 'status -sb' (short and branch info).
  st = status -sb

  # Amend the last commit without changing its message.
  amend = commit --amend --no-edit

  # Commit all changes with a "Work In Progress" message.
  wip = "!git add -A && git commit -m 'WIP'"

  # Unstage all currently staged changes.
  unstage = reset HEAD --

  # Show the last commit.
  last = log -1 HEAD

  # Start an interactive rebase.
  ir = rebase -i

  # Interactively stage parts of modified files.
  addp = add -p

  # Show the commit history for a specific file (use: `git history <filename>`).
  history = log --follow

  # Remove untracked files and directories. Use with caution!
  clean = clean -fd

  # Stash all changes, including untracked files.
  sa = stash save -u

  # List all stashes.
  sl = stash list

  # Apply the most recent stash and remove it from the stash list.
  sp = stash pop

  # Delete a specific stash from the stash list.
  sd = stash drop

# --- Colors ---
[color "branch"]
  current = yellow reverse
  local = green
  remote = cyan

# --- Commit Template (Optional) ---
; [commit]
;   template = ~/.gitmessage.txt
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
